{{$clientid := .Client.ID}}
<div class="compose-window">
	<h2>Compose a Twoot:</h2>
	<form id="compose-form" action="/post" method="POST">
		<textarea id="twootbox" name="twoot" form="compose-form"></textarea>
		<p class="char-count">Characters: </p>
		<input id="post-button" type="submit" value="Post" class="form-button">
	</form>
	<a href="/logout">Logout</a>
	<br>
	<a href="/delete">Delete Account</a>
</div>
<div id="timeline" class="twoots-container">
	<h3>Your Timeline</h3>
	{{range $twoot1 := .Timeline}}
	<div class="twoot" style="background-color: {{$twoot1.Author.Color}}">	
		<a href="localhost:8080/user/{{$twoot1.Author.ID}}" class="author-link no-anchor">{{$twoot1.Author.Name}}</a>
		{{if ne $clientid $twoot1.Author.ID}}
		<a href="/follow/{{$twoot1.Author.ID}}">Follow</a>
		{{end}}
		<span class="timestamp">{{$twoot1.Created.Format "Mon Jan 2 06 3:04"}}</span>
		<p>{{$twoot1.Body}}</p>
		{{if eq $clientid $twoot1.Author.ID}}
		<a href="/tdelete/{{$twoot1.ID}}">Delete</a>
		{{end}}
	</div>
	{{end}}
</div>
<div id="new" class="twoots-container">
	<h3>New Tweets</h3>
	{{range $twoot2 := .DB.Twoots}}
	<div class="twoot" style="background-color: {{$twoot2.Author.Color}}">	
		<a href="localhost:8080/user/{{$twoot2.Author.ID}}" class="author-link no-anchor">{{$twoot2.Author.Name}}</a>
		{{if ne $clientid $twoot2.Author.ID}}
		<a href="/follow/{{$twoot2.Author.ID}}">Follow</a>
		{{end}}
		<span class="timestamp">{{$twoot2.Created.Format "Mon Jan 2 06 3:04"}}</span>
		<p>{{$twoot2.Body}}</p>
		{{if eq $clientid $twoot2.Author.ID}}
		<a href="/tdelete/{{$twoot2.ID}}">Delete</a>
		{{end}}
	</div>
	{{end}}
</div>
